/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/*Header styles*/
.logo-img{
  width: 90px;
  display: inline-block;
}

.logo-text{
  font-family: 'Satisfy', cursive;
  color: #F37972; /* base orange/salmon */
  display: inline-block;
}

.flex-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Hero styles*/
.hero{
  background-image: url('../img/hero.jpg');
  background-position: center;
  background-size: cover;
  height:350px;

  padding-top: 40px;
}
.white-text{
  color:#fff;
}
.hero .white-text{
  font-size: 2em;
}

/*Featured and Service section */
.background-gray{
  background-color: #EDF1F4; /* light gray */
  padding:8px 12px;
  border-radius: 15px;
}

.service-text{
  color: rgba(64, 224, 208, 0.5);
}

.footer-black{
  background-color: black;
  
}
